<!DOCTYPE html>
<html>
<head>
	{% load static %}
	<meta charset="utf-8">
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href="{% static "materialize/css/materialize.min.css" %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link rel="stylesheet" type="text/css" href="{% static "css/index.css" %}">
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <title>油管相关</title>
    </head>

<body style ="display: flex;min-height: 100vh;flex-direction: column;"data-new-gr-c-s-check-loaded="14.981.0">
      <!--Import jQuery before materialize.js-->
      <script type="text/javascript" src="js/jquery.min.js"></script>
      <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
      <!-- Header -->
	<header>
		<nav>
			<!-- Top Bar -->
			<div class="nav-wrapper container">
				<a href="{% url 'index' %}" class="brand-logo left">主站</a>
			   	<ul class="right hide-on-med-and-down">
				  	<li><a href="{% url 'ytb' %}">油管相关</a></li>
				   	<li><a href="{% url 'video' %}">熟肉分享</a></li>
				  	<li><a href="{% url 'schedule' %}">行程安排</a></li>
				</ul>
			</div>
		</nav>
	</header>

	<!-- Main -->
	<main>
		<!-- Main Contributors -->
		<div class="container ">
			<div class="album">
				<div id="head">

				</div>
				<div id="bg"></div>
				<div id="cover"></div>
				<div id="community"></div>
			</div>

		</div>



  <div class="row">
    <div class="col s12 m6">
      <div class="card">
        <div class="card-image">
          <img src="images/sample-1.jpg">
          <span class="card-title">卡片标题</span>
          <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
        <div class="card-content">
          <p>我是一个很简单的卡片。我很擅长于包含少量的信息。我很方便，因为我只需要一个小标记就可以有效地使用。</p>
        </div>
      </div>
    </div>
  </div>




	</main>

      <!-- Footer of the page -->
	<footer class="page-footer">
	  <div class="container">
	    <div class="row">
	      <div class="col l6 s12">
	        <p class="grey-text text-lighten-4"><a href="http://beian.miit.gov.cn/">备案号: 粤ICP备2020094794号-1</a></p>
	        <p class="grey-text text-lighten-4">Mail: hokyeejau@foxmail.com</p>
	      </div>
	      <div class="col l4 offset-l2 s12">
	        <ul>
	          <li><a class="grey-text text-lighten-3" href="#!">本网站仅作资源分享</a></li>
			  <li><p class="white-text text-lighen-3">你的IP地址是:{{ ip }} </p></li>
	        </ul>
	      </div>
	    </div>
	  </div><!--
	  <div class="footer-copyright">
	    <div class="container">
	    © 2014 Copyright 文本
	    <a class="grey-text text-lighten-4 right" href="#!">更多链接</a>
	    </div>
	  </div> -->
	</footer>

</body>
</html>
